## A TEST FOR GEOPANDAS FUNCTIONALITY

In [20]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

In [21]:
df_tll = pd.read_csv('C:/Users/slups/Desktop/build_week/BW_Airbnb/airbnb_app/train_lat_long.csv')

In [22]:
df_tll['city'].unique()

array(['NYC', 'SF', 'DC', 'LA', 'Chicago', 'Boston'], dtype=object)

In [23]:
df_tll.columns

Index(['id', 'log_price', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bed_type', 'cancellation_policy', 'cleaning_fee', 'city',
       'host_has_profile_pic', 'host_identity_verified', 'host_since',
       'instant_bookable', 'latitude', 'longitude', 'review_scores_rating',
       'bedrooms', 'beds', 'Wireless Internet', 'Air conditioning', 'Kitchen',
       'Heating', 'Family/kid friendly', 'Hair dryer', 'Iron', 'Shampoo',
       'Fire extinguisher', 'Laptop friendly workspace', 'Indoor fireplace',
       'TV', 'Cable TV'],
      dtype='object')

In [24]:
df_tll.drop(columns=['room_type', 'accommodates', 'property_type', 'city',
       'bathrooms', 'bed_type', 'cancellation_policy', 'cleaning_fee',
       'host_has_profile_pic', 'host_identity_verified', 'host_since',
       'instant_bookable', 'review_scores_rating', 'bedrooms', 'beds', 'Wireless Internet', 'Air conditioning', 'Kitchen',
       'Heating', 'Family/kid friendly', 'Hair dryer', 'Iron', 'Shampoo',
       'Fire extinguisher', 'Laptop friendly workspace', 'Indoor fireplace',
       'TV', 'Cable TV'], axis=1, inplace=True)

In [25]:
df_tll.columns

Index(['id', 'log_price', 'latitude', 'longitude'], dtype='object')

In [28]:
df_tll.tail(10)

             id  log_price   latitude   longitude
71748  18077717   4.584967  34.020021 -118.498239
71749   7935934   4.110874  34.199671 -118.618070
71750  11829011   5.135798  37.789989 -122.407384
71751  14934112   4.356709  41.909067  -87.623046
71752    808802   4.248495  34.092640 -118.343921
71753  14549287   4.605170  40.709025  -73.939405
71754  13281809   5.043425  33.871549 -118.396053
71755  18688039   5.220356  40.706749  -73.942377
71756  17045948   5.273000  40.738535  -74.000157
71757   3534845   4.852030  33.761096 -118.192409

In [29]:
df_tll.shape

(71758, 4)

In [30]:
df_tll.drop(df_tll.tail(10000).index,inplace=True)

In [31]:
df_tll.shape

(61758, 4)

In [32]:
df_tll.drop(df_tll.head(11758).index,inplace=True)

In [34]:
df_tll.shape

(50000, 4)

In [35]:
df_tll.to_csv('graphing_train3.csv')